body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
* {
  box-sizing: border-box;
}
p,
h1,
h2 h3 h4 h5 h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

/* <!-- Header main--> */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}
.logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.header-main {
  display: flex;
  gap: 40px;
}

.nav-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.nav-item:hover {
  color: #404bbf;
}
.nav-item:focus {
  color: #404bbf;
}
.nav-item-active::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

/*    <!-- Contacts --> */
.adress {
  font-style: normal;
  margin-left: auto;
}
.adress-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.adress-link:hover {
  color: #404bbf;
}
.adress-link:focus {
  color: #404bbf;
}
.adress-list {
  display: flex;
  gap: 40px;
}
/*     <!-- Main Content --> */
.solutions {
  padding: 188px 0;
}
.container-solutions {
}

.solutions {
  background-color: #2e2f42;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-photo-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
  max-width: 1440рх;
}
.header-content {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  align-items: center;
}
.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  padding: 120px 0;
}
.advantages-icons {
  margin: 20px 100px;
}

.icons-box {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  max-width: 264px;
}

.title-advantages {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  margin-top: 0;
}
.advantages-content {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/*   <!-- Personal --> */
.personal {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.personal-container {
}
.title-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  background-color: #f4f4fd;
  margin-bottom: 72px;
  margin-top: 0;
}
.personal-list {
  display: flex;
  gap: 24px;
}
.personal-list-element {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.personal-name {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}
.personal-role {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}
.personal-name-role {
  padding: 32px 0;
}
.soc-icons {
  fill: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 0%;
}

.soc-icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  border-radius: circle;
  padding: 12px, 12px;
}
.soc-icons-box {
  margin-top: 8px;
  margin-bottom: 32px;
}
.soc-icon-elements {
  width: 40px;
  height: 40px;
}

/* <!-- Portfolio --> */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  margin-top: 0;

  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 0;
}
.portfolio-list-element {
  width: calc((100% - 48px) / 3);
  margin-top: 0;
}
.portfolio-elements {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-class {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.personal-list-element {
}
/*     <!-- Footer --> */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-content {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-soc-icons-box {
  margin: 140px 692px 132px 540px;
}
.footer-soc-icons-list {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.footer-soc-icons {
}
